    <span>{{ title }}</span>

    <app-component1 app-component1></app-component1>
    <app-new-cmp></app-new-cmp>

    <div style = "text-align: center">
    <span appChangeText>
        welcome to {{title}}
    </span></div>

    <h3>Uppercase pipes</h3>
    <b>{{title | uppercase}}</b>

    <h3>lowercase pipes</h3>
    <b>{{title | lowercase}}</b>

    <h3>Currency Pipes</h3>
    <b>{{654.45 | currency:"USD"}}</b>

    <h3>Currency Pipes</h3>
    <b>{{654.45 | currency:"USD":true}}</b>

    <h3>Date pipe</h3>
    <b>{{todayDate | date:'d/M/y'}}</b>

    <h3>Date pipe</h3>
    <b>{{todayDate | date:'shortTime'}}</b>

    <h3>json pipe</h3>
    <b>{{information | json}}</b>
    
    <h3>Custom pipe mycustompipe</h3>
    <p>{{'this is testing string' | mycustompipe:'true'}}</p>
    <p>{{'this is testing string' | mycustompipe:'false'}}</p>

    

    <h2>Two-way Binding Example</h2>   
    <input [(ngModel)]="fullName" /> <br/><br/>   
    <p> {{fullName}} </p>
    <app-employee-name></app-employee-name>
    <app-employee-details></app-employee-details>

    <!-- Reactive form -->
    <label>Name :
        <input type="text" [formControl]="name">
    </label>

    <p>
        Value: {{name.value}}
    </p>

    <router-outlet></router-outlet>