    <span>{{ title }}</span>

    <app-component1 app-component1></app-component1>
    <app-new-cmp></app-new-cmp>

    <div style = "text-align: center">
    <span appChangeText>
        welcome to {{title}}
    </span></div>

    <h3>Uppercase pipes</h3>
    <b>{{title | uppercase}}</b>

    <h3>lowercase pipes</h3>
    <b>{{title | lowercase}}</b>

    <h3>Currency Pipes</h3>
    <b>{{654.45 | currency:"USD"}}</b>

    <h3>Currency Pipes</h3>
    <b>{{654.45 | currency:"USD":true}}</b>

    <h3>Date pipe</h3>
    <b>{{todayDate | date:'d/M/y'}}</b>

    <h3>Date pipe</h3>
    <b>{{todayDate | date:'shortTime'}}</b>

    <h3>json pipe</h3>
    <b>{{information | json}}</b>
    
    <h3>Custom pipe mycustompipe</h3>
    <p>{{'this is testing string' | mycustompipe:'true'}}</p>
    <p>{{'this is testing string' | mycustompipe:'false'}}</p>

    

    <h2>Two-way Binding Example</h2>   
    <input [(ngModel)]="fullName" /> <br/><br/>   
    <p> {{fullName}} </p>
    <app-employee-name></app-employee-name>
    <app-employee-details></app-employee-details>

    <!-- Reactive form -->
    <label>Name :
        <input type="text" [formControl]="name">
    </label>

    <p>
        Value: {{name.value}}
    </p>

    <!-- reactive form FormGroup -->

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>
            First Name:
            <input type="text" formControlName="firstName">
        </label>

        <label>
            Last Name: 
            <input type="text" formControlName="lastName">
        </label>

        <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    </form>

    <!-- Reactive form using formBuilder -->
    <form [formGroup]="profileFormWithAddress" (ngSubmit)="profileAddressSubmit()">
        <label>
            First Name:
            <input type="text" formControlName="firstName" required>
        </label>

        <label>
            Last Name: 
            <input type="text" formControlName="lastName">
        </label>

        <label>
            Address:Street: 
            <input type="text" formControlName="street">
        </label>

        <label>
            city: 
            <input type="text" formControlName="city">
        </label>

        <label>
            state: 
            <input type="text" formControlName="state">
        </label>

        <label>
            zip: 
            <input type="text" formControlName="zip">
        </label>
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    <p>
        Form Status: {{ profileForm.status }}
      </p>
      <div class="">
        <router-outlet></router-outlet>
      </div>
   